@model EmployeeManagementSystem.Models.Employee

<h1>Create New Employee</h1>

<form asp-action="Create" method="post">
    <div>
        <label asp-for ="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div>
        <span asp-validation-for="FirstName" class="text-danger"></span>
        <label asp-for ="LastName" class="control-label"></label>
    </div>
    <div>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for ="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div>
        <label asp-for ="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

<p>
    <a asp-action="Index">Back to List</a>
</p>